
body #pmBox {
    position: fixed;
    display: none;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    padding: 16px;
    border-radius: 5px;
    background: #fff;
    width: 400px
}

body #pmBox>.pm-header>h2 {
    margin-top: 0;
    font-size: 1.6rem
}

body #pmBox>.pm-content>.pm-inner>.pm-info {
    position: relative
}

body #pmBox>.pm-content>.pm-inner>.pm-info>.pm-info_label {
    margin-right: 6px
}

body #pmBox>.pm-content>.pm-inner>.pm-text {
    width: 100%;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #222
}

body #pmBox>.pm-content>.pm-inner>.pm-text:focus {
    border-color: #55ca56
}

body #pmBox>.pm-content>.pm-inner>.pm-text.error {
    border-color: #e74c3c
}

body #pmBox>.pm-btns {
    text-align: right
}

body #pmBox>.pm-btns>button {
    position: relative;
    width: 90px;
    height: 42px
}

body #pmBox>.pm-btns>button i {
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px
}

body #pmBox>.pm-btns>.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 2rem;
    cursor: pointer;
    color: #bdc3c7
}

body #pmBox>.pm-btns>.close-btn:hover {
    color: #95a5a6
}

body #modalSignBox {
    position: fixed;
    width: 360px;
    height: 436px;
    top: 50%;
    left: 50%;
    margin-top: -218px;
    margin-left: -180px;
    padding: 0 !important;
    background: #fff;
    border-radius: 3px;
    overflow: hidden
}

body #modalSignBox>h2 {
    margin-top: 20px;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 5px
}

body #modalSignBox>.local-signin {
    width: 100%;
    padding: 20px
}

body #modalSignBox>.local-signin>.form-group {
    position: relative
}

body #modalSignBox>.local-signin>.form-group>.form-control {
    border: 1px solid #bdc3c7;
    border-radius: 3px
}

body #modalSignBox>.local-signin>.form-group>.form-control:focus {
    border-color: #3498db
}

body #modalSignBox>.local-signin>.form-group>.tip {
    position: absolute;
    display: none;
    max-width: 160px;
    top: 9px;
    right: 5px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #f1c40f;
    color: #fff;
    overflow: hidden
}

body #modalSignBox>.local-signin>button {
    position: relative;
    width: 100%;
    height: 42px
}

body #modalSignBox>.local-signin>button i {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    font-size: 1.6rem
}

body #modalSignBox>.local-signin>.login-help a {
    color: #34495e
}

body #modalSignBox>.local-signin>.login-help a:before {
    background-color: #34495e
}

body #modalSignBox>.open-login {
    padding: 20px;
    text-align: center;
    background: #f3f7fb
}

body #modalSignBox>.open-login>p {
    font-size: 1.6rem
}

body #modalSignBox>.open-login>.social-items {
    margin: 0 auto
}

body #modalSignBox>.open-login>.social-items>a {
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff
}

body #modalSignBox>.open-login>.social-items>a.btn-sn-weibo {
    background-color: #f74660
}

body #modalSignBox>.open-login>.social-items>a.btn-sn-qq {
    background-color: #f68575
}

body #modalSignBox>.open-login>.social-items>a.btn-sn-weixin {
    background-color: #2dc100
}

body #modalSignBox>.open-login>.social-items>a>span {
    position: relative;
    top: 2px
}

article .entry-thumb {
    position: relative;
    overflow: hidden
}

article .entry-thumb img {
    display: block;
    width: 100%;
    height: auto
}

article .entry-thumb>a {
    display: block;
    max-height: 100%
}

article .entry-thumb>a.category,
article .entry-thumb>a[rel="category tag"],
article .entry-thumb>a[rel=tag] {
    display: inline-block;
    min-width: 50px;
    padding: 0 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    text-align: center
}

article .entry-thumb>a.category:hover,
article .entry-thumb>a[rel="category tag"]:hover,
article .entry-thumb>a[rel=tag]:hover {
    background: rgba(0, 0, 0, .8)
}

article .entry-thumb>a.category+a,
article .entry-thumb>a[rel="category tag"]+a,
article .entry-thumb>a[rel=tag]+a {
    display: none
}

article .wp-post-image {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

article>.hover-overlay>a:before {
    content: '';
    display: block;
    opacity: 0;
    width: 100%;
    height: 150%;
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .01) 2%, rgba(0, 0, 0, .95) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, .01) 2%, rgba(0, 0, 0, .95) 100%);
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    position: absolute
}

article:hover>.hover-scale .wp-post-image {
    opacity: .6
}

article:hover>.hover-overlay>a:before {
    opacity: 1
}

.loop-rows article {
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 25px
}

.loop-rows article:last-child {
    border-bottom: none
}

.loop-rows article.post>.entry-thumb {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 180px;
    margin-right: 20px
}

.loop-rows article.post>.entry-detail {
    width: 100%;
    min-height: 120px
}

.loop-rows article.post>.entry-detail>.entry-header>h2 {
    position: relative;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 5px
}

.loop-rows article.post>.entry-detail>.entry-header>h2 a {
    color: #34495e;
    font-weight: 400
}

.loop-rows article.post>.entry-detail>.entry-header>h2 a:hover {
    color: #55ca56
}

.loop-rows article.post>.entry-detail>.entry-header>h2 .sticky-ico {
    vertical-align: -2px;
    margin-left: 5px
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>span {
    margin-right: 12px
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.author>a {
    color: #34495e;
    font-weight: 500
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.author>a:hover {
    color: #55ca56
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.comments-link>a,
.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.unstar-link>a {
    color: #7f8c8d
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.comments-link {
    float: right;
    margin-right: 0
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.comments-link>i,
.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.unstar-link>i {
    margin-right: 5px
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.unstar-link {
    float: right
}

.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.unstar-link:hover a,
.loop-rows article.post>.entry-detail>.entry-header>.entry-meta>.unstar-link:hover i {
    color: #e74c3c
}

.loop-rows article.post>.entry-detail>.entry-excerpt {
    color: #777;
    margin-top: 16px;
    word-break: break-all
}

.loop-rows article.post>.entry-detail>.entry-tags {
    margin-top: 10px;
    padding-left: 270px
}

.loop-rows article.post>.entry-detail>.entry-tags a {
    padding: 4px 10px;
    background-color: #55ca56;
    color: #fff;
    font-size: 1.2rem;
    line-height: 16px;
    font-weight: 400;
    margin: 0 5px 5px 0;
    border-radius: 2px;
    display: inline-block
}

.loop-rows article.post>.entry-detail>.entry-tags a:nth-child(5n) {
    background-color: #4a4a4a
}

.loop-rows article.post>.entry-detail>.entry-tags a:nth-child(5n+1) {
    background-color: #1ac756
}

.loop-rows article.post>.entry-detail>.entry-tags a:nth-child(5n+2) {
    background-color: #ff5e5c
}

.loop-rows article.post>.entry-detail>.entry-tags a:nth-child(5n+3) {
    background-color: #ffbb50
}

.loop-rows article.post>.entry-detail>.entry-tags a:nth-child(5n+4) {
    background-color: #19b5fe
}

.loop-rows article.post>.entry-detail>.entry-tags a:hover {
    background-color: #1b1b1b
}

.loop-rows+nav {
    position: relative
}

.loop-rows+nav>.page-nums {
    position: absolute;
    top: 20px;
    right: 0;
    line-height: 42px;
    color: #34495e;
    font-size: 2rem;
    font-weight: 500
}

@media (max-width:767px) {
    .loop-rows article.post>.entry-detail>.entry-tags {
        padding-left: 0
    }
}

@media (max-width:480px) {
    .loop-rows article {
        padding-bottom: 15px;
        margin-bottom: 15px
    }
    .loop-rows article.post>.entry-thumb {
        float: none;
        width: 100%;
        margin-right: 0
    }
    .loop-rows article.post>.entry-detail {
        min-height: 50px
    }
    .loop-rows+nav {
        padding-right: 0;
        text-align: center
    }
    .loop-rows+nav>.pagination {
        padding: 0;
        margin: 10px auto;
        overflow: hidden
    }
    .loop-rows+nav>.page-nums {
        display: none
    }
}

body #banBox {
    position: fixed;
    display: none;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    padding: 16px;
    border-radius: 5px;
    background: #fff;
    width: 400px
}

body #banBox>.ban-header>h2 {
    margin-top: 0;
    font-size: 1.6rem
}

body #banBox>.ban-content>.ban-inner>.ban-text {
    width: 100%;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #222
}

body #banBox>.ban-content>.ban-inner>.ban-text:focus {
    border-color: #55ca56
}

body #banBox>.ban-content>.ban-inner>.ban-text.error {
    border-color: #e74c3c
}

body #banBox>.ban-btns {
    text-align: right
}

body #banBox>.ban-btns>button {
    position: relative;
    width: 90px;
    height: 42px
}

body #banBox>.ban-btns>button i {
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px
}

body #banBox>.ban-btns>.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 2rem;
    cursor: pointer;
    color: #bdc3c7
}

body #banBox>.ban-btns>.close-btn:hover {
    color: #95a5a6
}

body.author {
    background: #f5f6f8
}

body.author #content>.billboard {
       position: relative;
       background-color: rgba(5,15,25,.2);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       padding: 0 0 10px 0;
       height: auto;
       margin-top:  -30px !important;
}

body.author #content>.billboard>.container {
    position: relative;
    color: #fff;
}

body.author #content>.billboard>.container>.avatar-wrap {
    position: relative;
    width: 98px;
    height: 98px;
    padding: 4px;
    margin: 10px auto;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
}

body.author #content>.billboard>.container>.avatar-wrap img {
    width: 90px;
    height: 90px;
    border-radius: 50%
}

body.author #content>.billboard>.container>.avatar-wrap i {
    position: absolute;
    right: 5px;
    bottom: 5px
}

body.author #content>.billboard>.container>h2 {
    margin-top: 0;
    font-size: 2.4rem;
    line-height: 1
}

body.author #content>.billboard>.container>h2 i {
    font-size: 1.6rem;
    margin-left: 5px
}

body.author #content>.billboard>.container>p {
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

body.author #content>.billboard>.container>.author-interact {
    margin-top: 15px;
    text-align: center
}

body.author #content>.billboard>.container>.author-interact>a {
    display: inline-block;
    width: 104px;
    height: 34px;
    padding: 0 !important;
    margin: 0 5px;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 34px;
    color: #fff;
    background: #1dd2af;
    background: -moz-linear-gradient(top, #1dd2af 0, #1abc9c 100%);
    background: -webkit-linear-gradient(top, #1dd2af 0, #1abc9c 100%);
    background: -o-linear-gradient(top, #1dd2af 0, #1abc9c 100%);
    background: -ms-linear-gradient(top, #1dd2af 0, #1abc9c 100%);
    background: linear-gradient(top, #1dd2af 0, #1abc9c 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

body.author #content>.billboard>.container>.author-interact>a:hover {
    background: #1bc5a3;
    background: -moz-linear-gradient(top, #1bc5a3 0, #19b395 100%);
    background: -webkit-linear-gradient(top, #1bc5a3 0, #19b395 100%);
    background: -o-linear-gradient(top, #1bc5a3 0, #19b395 100%);
    background: -ms-linear-gradient(top, #1bc5a3 0, #19b395 100%);
    background: linear-gradient(top, #1bc5a3 0, #19b395 100%)
}

body.author #content>.billboard>.container>.author-interact>a.followed,
body.author #content>.billboard>.container>.author-interact>a.pm-btn {
    background: #88a2bd;
    background: -moz-linear-gradient(top, #88a2bd 0, #7795b4 100%);
    background: -webkit-linear-gradient(top, #88a2bd 0, #7795b4 100%);
    background: -o-linear-gradient(top, #88a2bd 0, #7795b4 100%);
    background: -ms-linear-gradient(top, #88a2bd 0, #7795b4 100%);
    background: linear-gradient(top, #88a2bd 0, #7795b4 100%)
}

body.author #content>.billboard>.container>.author-interact>a.followed:hover,
body.author #content>.billboard>.container>.author-interact>a.pm-btn:hover {
    background: #587ca0;
    background: -moz-linear-gradient(top, #7795b4 0, #6789ab 100%);
    background: -webkit-linear-gradient(top, #7795b4 0, #6789ab 100%);
    background: -o-linear-gradient(top, #7795b4 0, #6789ab 100%);
    background: -ms-linear-gradient(top, #7795b4 0, #6789ab 100%);
    background: linear-gradient(top, #7795b4 0, #6789ab 100%)
}

body.author #content>.billboard>.container>.author-interact>a i {
    margin-right: 5px;
    vertical-align: -1px
}

body.author #content>.author-area>.inner {
    max-width: 880px;
    margin: 0 auto
}

body.author #content>.author-area>.inner>.author-tabs {
    margin-bottom: 20px;
    font-size: 0;
    -webkit-text-size-adjust: none;
    text-align: center;
    background-color: #fff;
}

body.author #content>.author-area>.inner>.author-tabs>a {
    display: inline-block;
    width: 90px;
    padding: 8px 0;
    border: 1px solid #ffffff;
    margin-right: .8%;
    font-size: 1.5rem;
    color: #666;
    background: #ffffff;
    width: 15%;
    margin-left: .8%;
}

body.author #content>.author-area>.inner>.author-tabs>a:hover {
    color: #000000;
}


body.author #content>.author-area>.inner>.author-tabs>a:first-child {
    /* border-top-left-radius: 4px; */
    /* border-bottom-left-radius: 4px; */
}

body.author #content>.author-area>.inner>.author-tabs>a:last-child {
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px */
}

body.author #content>.author-area>.inner>.author-tabs>a.active {
    /* background: #524f48; */
    /* border-color: #525252; */
    color: #3895D6;
}

body.author #content>.author-area>.inner>.author-tab-box {
    position: relative;
    padding: 20px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 5px
}

body.author #content>.author-area>.inner>.author-tab-box.follow-tab {
    background: 0 0
}

body.author #content>.author-area>.inner>.author-tab-box>.tab-content>.empty-content {
    padding: 30px 0;
    text-align: center;
    font-size: 2rem
}

body.author #content>.author-area>.inner>.author-tab-box>.tab-content>.empty-content>.tico {
    font-size: 6rem;
    color: #ddd
}

body.author #content>.author-area>.inner>.author-tab-box>.tab-content>.empty-content>p {
    margin: 40px auto 20px;
    font-size: 15px;
    color: #ddd;
}

body.author #content>.author-area>.inner>.author-tab-box>.tab-content>.tip {
    margin: 10px 0 30px;
    color: #222;
    font-size: 1.5rem
}

body.author #content>.author-area>.inner>.author-tab-box>.latest-posts>.loop-rows>article>.entry-detail>header>h2 span {
    margin-left: 10px;
    font-size: 1.6rem
}

body.author #content>.author-area>.inner>.author-tab-box>.latest-posts>.loop-rows>article>.entry-detail>header>h2 span a:hover {
    color: #f64540
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f6f8
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #757f90
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-title>.comment-author {
    margin-right: 5px;
    color: #34495e
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-title>.comment-author img {
    position: absolute;
    top: 33px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 5px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-title a {
    padding-left: 5px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-content {
    position: relative;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 3px;
    font-size: 1.3rem;
    line-height: 1.5;
    word-break: break-all;
    color: #34495e;
    background-color: #f3f7fb
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-content:before {
    content: " ";
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-right-color: #f3f7fb;
    position: absolute;
    left: -10px;
    top: 12px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-comments>.loop-rows>.comment>.comment-content p:last-child {
    margin-bottom: 0
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 25px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner {
    border: 1px solid rgba(0, 0, 0, .05);
    background: #fff
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.cover {
    position: relative;
    background-color: rgba(5, 15, 25, .2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 125px;
    padding: 10px 20px;
    color: #fff
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.cover img {
    display: block;
    width: 46px;
    height: 46px;
    margin: 0 auto 10px;
    border-radius: 50%;
    text-align: center
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.cover>.mask {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background: url(../img/personcard-mask.png) center bottom repeat-x;
    overflow: hidden
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.cover>.mask h2 {
    margin: 15px auto 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.cover>.mask p {
    padding: 0 8px;
    margin: 6px auto 0;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-stats {
    margin-top: 10px;
    text-align: center
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-stats span {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 14px;
    font-weight: 700;
    color: #333
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-stats span>.unit {
    margin-right: 5px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-stats .following {
    padding-right: 9px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-stats .followers {
    padding: 0 9px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-stats .posts {
    padding-left: 9px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact {
    position: relative;
    height: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>a {
    position: relative;
    padding: 2px 8px 2px 24px;
    margin: 0 3px;
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #34495e
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>a:hover {
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>a i {
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -6px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>.more-link-btn {
    position: relative;
    padding-left: 8px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>.more-link-btn i {
    position: static
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>.dropdown-menu {
    min-width: 80px;
    right: 5px;
    left: auto;
    margin-top: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: #fff
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>.dropdown-menu>li a {
    padding: 6px 10px;
    overflow: hidden
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>.dropdown-menu>li a:hover {
    color: #55ca56
}

body.author #content>.author-area>.inner>.author-tab-box>.author-follow>.row>.follow-box>.box-inner>.user-interact>.dropdown-menu>.divider {
    height: 1px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>#pmForm>.pm-content>.pm-inner>.pm-text {
    width: 100%;
    height: 80px;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 1.3
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>#pmForm>.pm-btns {
    text-align: right
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>#pmForm>.pm-btns button {
    position: relative;
    width: 100px;
    height: 42px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>#pmForm>.pm-btns button i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.tip {
    margin: 30px 0;
    color: #222;
    font-size: 1.5rem
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f6f8
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.people-link {
    position: absolute;
    top: 5px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.people-link img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.msg-main {
    margin-left: 60px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.msg-main>.msg-content {
    min-height: 42px;
    word-break: break-all
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.msg-main>.msg-meta {
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 1
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.msg-main>.msg-meta>.msg-act {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ddd;
    cursor: pointer;
    visibility: hidden
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.msg-main>.msg-meta>.msg-act-delete {
    border-right: 0
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message>.msg-main>.unread-mark {
    position: absolute;
    top: 2px;
    color: #27be67
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.info-donate,
body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.info-extends {
    position: relative
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message:last-child {
    border-bottom: 0
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.message:hover .msg-act {
    visibility: visible !important
}

body.author #content>.author-area>.inner>.author-tab-box>.author-chat>.loop-rows>.unread-message>.msg-main>.msg-content {
    text-indent: 20px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>section {
    padding: 10px 0;
    margin-bottom: 10px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>section>header h2 {
    padding-bottom: 10px;
    margin: 10px auto 20px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 2rem
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>section>header small {
    margin-left: 6px;
    color: #7f8c8d;
    font-size: 1.2rem
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>section>.info-group {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 0
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>section>.info-group>label {
    max-width: 120px;
    line-height: 1.5;
    font-weight: 600
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>section>.info-group>p {
    margin: 0
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.author-card>.inner {
    padding: 0 15px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.author-card>.inner>.avatar {
    width: 64px;
    height: 64px;
    margin-left: 15px;
    border-radius: 50%;
    float: left
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.author-card>.inner>.card-text {
    padding-left: 120px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.author-card>.inner>.card-text>.display-name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.info-basis>.info-group {
    padding: 5px 0
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.info-extends>.info-group>a {
    margin: 0 5px 20px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.info-extends>.info-group>a i {
    vertical-align: -2px;
    margin-right: 5px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.info-donate>.info-group>a {
    margin: 0 5px 20px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.admin-operation>.info-group>p {
    padding-right: 120px
}

body.author #content>.author-area>.inner>.author-tab-box>.author-profile>.admin-operation>.info-group>.ban-btn {
    float: right
}